{% load staticfiles %}

<style>

	.helvetica{
		text-transform: uppercase;
	    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	    font-weight: 700;
	    letter-spacing: 1px;
	}

</style>


<script type="text/javascript" src="{% static 'tourneys/js/jquery-1.11.1.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'tourneys/js/bootstrap.min.js' %}" ></script>
<link rel="stylesheet" type="text/css" href="{% static 'tourneys/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'tourneys/css/bootstrap-social.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'tourneys/css/font-awesome-4.2.0/css/font-awesome.min.css' %}" />

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container-fluid helvetica">
		<a class="navbar-brand" href="/tourneys">Gamie Tourney</a>

		<!-- Collect the nav links, forms, and other content for toggling -->
    	<div class="collapse navbar-collapse helvetica" id="bs-example-navbar-collapse-1">

    		<ul class="nav navbar-nav">
    			<li><a href="/tourneys/profile">Profile</a></li>
					<li><a href="/tourneys/tourneyhome">LetsPLay</a></li>
    		</ul>

    		<ul class="nav navbar-nav navbar-right">

			{% if request.user.is_authenticated %}

				<li> <a href="/accounts/logout">Log out</a> </li>

				<li>
					<a>Hi, {{ request.user.username }}
					{% if request.user.profile.account_verified %} {% else %} (unverified) {% endif %}</a>
				</li>

			{% else %}

		        <li> <a href="/accounts/login">Sign In</a> </li>
		        <li> <a href="/accounts/signup">Sign Up</a> </li>

		    {% endif %}

		    </ul>

    	</div>
	</div>

</nav>

<div id="content" >
	{% block content %}{% endblock %}
</div>
