{% extends "tourneys/index.html" %}
{% load staticfiles %}

{% block content %} 
    
    <style>
        .header-card{
            font-weight: 800; 
            display:block; 
            margin: 0 auto; 
            text-align: center
        }

        .card{
            display:block; 
            margin: 0 auto; 
            text-align: center
        }
    </style>

    <!-- Custom CSS -->
    <link href="{% static 'tourneys/css/sb-admin-2.css' %}" rel="stylesheet">

    {% if request.user.is_authenticated %}


        <!-- ALERTS -->
        <div id="success_alert" class="alert alert-success" role="alert" style="display:none; position: absolute; margin-left: auto;
        margin-right: auto; left: 0; right: 0; text-align:center; z-index: 100;">
          <strong>Success!</strong><span id="content"></span>
          <a class="close" style="float: right;" onclick="$('.alert').hide()">×</a>
        </div>
        <div id="error_alert" class="alert alert-danger alert-dismissible" role="alert" style="display:none; position: absolute; margin-left: auto;
        margin-right: auto; left: 0; right: 0; text-align:center; z-index: 100;">
          <a class="close" style="float: right;" onclick="$('.alert').hide()">×</a>
          <strong>Error!</strong><span id="content"></span>
        </div>

        <div class="navbar-default sidebar" role="navigation" style="height: 100%; margin-top: 0px;">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu" style="font-weight: 700;">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" style="width: 50px; height: 34px;" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </li>
                    <li>
                        <a class="tournaments" href="/tourneys/my_tourneys?filter=mine"><i class="fa fa-table fa-fw"></i> My Tourneys</a>
                    </li>
                    <li>
                        <a class="tournaments" href="/tourneys/my_tourneys?filter=all"><i class="fa fa-table fa-fw"></i> All Tourneys</a>
                    </li>
                    <li id="category" data-toggle="collapse" data-target="#categories">
                        <a href="#"><i class="fa fa-wrench fa-fw"></i> Categories<span class="fa arrow active"></span></a>
                        <ul class="nav sub-menu collapse" id="categories" style="text-align:center;">
                            <li><a class="tournaments" href="/tourneys/my_tourneys?filter=category&console=3DS">3DS</a></li>
                            <li><a class="tournaments" href="/tourneys/my_tourneys?filter=category&console=WII%20U">WII U</a></li>
                            <li><a class="tournaments" href="/tourneys/my_tourneys?filter=category&console=PLAY%20STATION%204">PLAY STATION 4</a></li>
                            <li><a class="tournaments" href="/tourneys/my_tourneys?filter=category&console=XBOX%20ONE">XBOX ONE</a></li>
                        </ul>
                    </li>
                    <li>
                        <a id="menu_create_tourney" href="#"><i class="fa fa-edit fa-fw"></i> Create Tournament</a>
                    </li>
                </ul>
            </div>
        <!-- /.sidebar-collapse -->
        </div>

        <div id="page-wrapper">
            <div class="row" style="padding-top: 10px;">
                <div id="form_new_tourney" class="col-md-4 col-md-offset-4 hide" style="margin-top: 60px;">
                    <div id="add">
                        <h3>
                            <span class="label label-primary" style="margin: 0 auto; display: block;">New Tournament &nbsp;<span class="glyphicon glyphicon-list-alt"></span>&nbsp;</span>
                        </h3>
                        <br>
                        <input id="name" name="name" type="text" class="form-control mb" placeholder="Name" required="" autofocus="" maxlength="50">
                        <input id="game" name="game" type="text" class="form-control mb" placeholder="Game" required="" autofocus="" maxlength="50">
                        <span style="display:block; margin: 0 auto; font-weight: 700; text-align: center;">Start Date and Time</span>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker'>
                                <input type='text' data-date-format="MM/DD/YYYY hh:mm" class="form-control" />
                                <span class="input-group-addon" ><span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <ul class="list-inline">
                            <li style="margin-left: 65px; font-weight: 700;">
                                <span>Max players</span>
                            </li>
                            <li style="width:30%;">
                                <input id="max_participants" name="max_participants" type="number" class="form-control" value="2" required="" autofocus="" min="2" max="256">
                            </li>
                        </ul>
                        <ul class="list-inline">
                            <li style="margin-left: 53px; font-weight: 700;">
                                <span>Console</span>
                            </li>
                            <li>
                                <select id="sel-console" class="form-control" style="margin: 0 auto;">
                                    {% for console in consoles %}
                                        <option value="{{console}}">{{console}}</option>
                                    {% endfor %}
                                </select>
                            </li>
                        </ul>
                        <ul class="list-inline">
                            <li style="margin-left: 50px; font-weight: 700;">
                                <span>Periodicity (Min)</span>
                            </li>
                            <li style="width:30%;">
                                <input id="periodicity" name="periodicity" type="number" class="form-control" required="" autofocus="" value="15" step="15">
                            </li>
                        </ul>
                        <ul class="list-inline">
                            <li style="margin-left: 80px; font-weight: 700;">
                                <span>Check In (5 Min)</span>
                            </li>
                            <li >
                                <input id="check_in" name="check_in" type="checkbox" class="" autofocus="">
                            </li>
                        </ul>
                        <br>
                        <button id="add_tourney_btn" class="btn btn-success btn-block">&nbsp;<span class="glyphicon glyphicon-tower"></span> Create</button>
                    </div>
                </div>

                <div id="tournaments">
                    {% for tourney in tourneys %}
                        <div class="col-lg-4 col-md-5">
                            {% if tourney.Console == '3DS' %}
                                <div class="panel panel-primary">
                            {% elif tourney.Console == 'XBOX ONE' %}
                                <div class="panel panel-green">
                            {% elif tourney.Console == 'PLAYSTATION 4' %}
                                <div class="panel panel-yellow">
                            {% else %}
                                <div class="panel panel-red">
                            {% endif %}
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <!--<i class="fa fa-comments fa-5x"></i>-->
                                            <img src="/static/tourneys/img/{{tourney.Console}}.png">
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="header-card">Name</div><div class="card">{{tourney.Name}}</div>
                                            <div class="header-card">Game</div><div class="card">{{tourney.Game}}</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <a href="/tourneys/{{tourney.id}}/">
                                            <span class="pull-left"><div style="font-weight:700;">Starts: </div>{{tourney.Start_date}}</span>
                                            <span class="pull-right"><br><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
            </div>
        </div>

    <script type="text/javascript" src="{% static 'tourneys/js/my_tourneys/my_tourneys.js' %}"> </script>
    <script stype="text/javascript"> 
        $("#tourneys").addClass("active");

        $(".nav li").click(function(){

            if($(this).attr("id") == "category" && $("#category").hasClass("active"))
                $(this).removeClass("active");
            else
                $(this).addClass("active");

        });

    </script>

    {% else %}

        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content" style="background-color: #fcf8e3; border-color: #faebcc; color: #8a6d3b;">
                    <div class="modal-body">
                        You need to have an account in order to check your profile.
                        You will be redirected to the Sign in page.
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $('#myModal').modal({ show: true })
            
            $('html').click(function() {
                // similar behavior as an HTTP redirect
                window.location.replace("http://mytourney.com:8000/accounts/login/");
            });
        </script>

    {% endif %}

{% endblock %}


